{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	<section
		class="form1 cid-qBkmMoNYXH" id="form1-1k" data-rv-view="1284">

		<!-- ======= Début Hero ======= -->
		<section id="hero">
			<div class="hero-container">
				<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
					<div
						class="carousel-inner" role="listbox">

						<!-- Slide 1 -->
						<div class="carousel-item active" style="background-image: url({{ asset('asset/img/slide/slide-1.jpg') }});">
							<div class="carousel-container">
								<div class="carousel-content">

									<div class="container">

										<div class="time-block">
											<h4 class="mbr-fonts-style time-title display-5 text-white">Lundi - Samedi</h4>
											<ul class="mbr-fonts-style work-list display-7 text-white">
												<li>11h00 - 23h00</li>

											</ul>
										</div>
										

									</div>
								</div>
								<div class="form-1 col-lg-8 col-md-6" data-form-type="formoid">
									<div data-form-alert="" hidden="">Thanks for filling out the form!
									</div>
									<form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="My Mobirise Form"><input type="hidden" data-form-email="true" value="gcfpqgp+nvljWUfbsAQu+lYn7dapK9GMXa2snF730pXeTY+UD4aXae9KP39X1hMfF5yZY2EBl+zGAQkVf1nh2SGG6vIl9/LzSsYk83L255eteZ3yYyn7RfSX5RUNhdvu">
										<div class="row input-main">
											<div class="col-lg-6 col-md-12 input-wrap" data-for="firstname">
												<label class="form-label-outside mbr-fonts-style display-7 text-white" for="form-1-firstname">Prénom</label>
												<input type="text" class="field display-7" name="firstname" data-form-field="First Name" required="" id="firstname-form1-1k">
											</div>
											<div class="col-lg-6 col-md-12 input-wrap" data-for="lastname">
												<label class="form-label-outside mbr-fonts-style display-7 text-white" for="form-1-lastname">Nom de famille</label>
												<input type="text" class="field display-7" name="lastname" data-form-field="Last Name" required="" id="lastname-form1-1k">
											</div>
											<div class="col-lg-6 col-md-12 input-wrap" data-for="date">
												<label class="form-label-outside mbr-fonts-style display-7 text-white" for="form-1-date">Date</label>
												<input type="date" class="field display-7" name="date" data-form-field="Date" required="" id="date-form1-1k">
											</div>
											<div class="col-lg-6 col-md-12 input-wrap" data-for="time">
												<label class="form-label-outside mbr-fonts-style display-7 text-white" for="form-1-time">Horaire</label>
												<input type="time" class="field display-7" name="time" data-form-field="Time" id="time-form1-1k">
											</div>
											<div class="col-lg-6 col-md-12 input-wrap" data-for="party">
												<label class="form-label-outside mbr-fonts-style display-7 text-white" for="form-1-phone">Nombre de personnes</label>
												<input type="text" class="field display-7" name="party" data-form-field="Party" id="party-form1-1k">
											</div>
											<div class="col-lg-6 col-md-12 input-wrap" data-for="phone">
												<label class="form-label-outside mbr-fonts-style display-7 text-white" for="form-1-phone">Téléphone</label>
												<input type="text" class="field display-7" name="phone" data-form-field="Phone" id="phone-form1-1k">
											</div>

										</div>
										<div class="row input-main">
											<div class="col-md-12 btn-row">
												<span class="input-group-btn">
													<button href="https://mobirise.com/" type="submit" class="btn btn-form btn-primary display-4">Réserver</button>
												</span>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>

		<!-- Slide 2 -->
		<div class="carousel-item" style="background-image: url({{ asset('asset/img/slide/slide-2.jpg') }});">
			<div class="carousel-container">
				<div class="carousel-content">
					<h2 class="animate__animated animate__fadeInDown">
						<span>Quai
						</span>Antique</h2>
					<p class="animate__animated animate__fadeInUp">
						Le Quai Antique est installé à Chambéry et propose au déjeuner comme au dîner une
																																				                                    expérience gastronomique, à travers une cuisine sans artifice.
																																				                                    Plus encore que ses deux autres restaurants, Arnaud Michant le voit comme une
																																				                                    promesse d’un voyage dans son univers culinaire.</p>

				</div>
			</div>
		</div>

		<!-- Slide 3 -->
		<div class="carousel-item" style="background-image: url({{ asset('asset/img/slide/slide-3.jpg') }});">
			<div class="carousel-container">
				<div class="carousel-content">
					<h2 class="animate__animated animate__fadeInDown">
						<span>Quai
						</span>Antique</h2>
					<p class="animate__animated animate__fadeInUp">
						Le Quai Antique est installé à Chambéry et propose au déjeuner comme au dîner une
																																				                                    expérience gastronomique, à travers une cuisine sans artifice.
																																				                                    Plus encore que ses deux autres restaurants, Arnaud Michant le voit comme une
																																				                                    promesse d’un voyage dans son univers culinaire.</p>

				</div>
			</div>
		</div>

	</div>


</div></div></section><!-- Fin Hero -->{% endblock %}
