<section id="topbar" class="d-flex align-items-center fixed-top"></section>
<div class="container" style="background-image: url({{ asset('asset/img/slide/slide-1.jpg') }})">
	<section class="container my-5">
		<div class="row text-white">
			<div class="col-md-5">
				<h1 class="display-4">Bienvenue sur votre espace de gestion</h1>


				<aside class='mw-100 mh-100 col-9 border border-light rounded p-5 bg-light'>
					<article class='card mb-3'>
						<div class='card-header'>
							Menus
							<p>
								<a href="">Liste des menus</a>
							</p>
							<p>
								<a href="{{('app_menus_add')}}">Ajouter des menus</a>
							</p>
						</div>
					</article>
					<div class='card-header'>
						Carte
					</div>
					<article class='card mb-3'>
						<div class='card-header'>
							<p>
								<a href="">Items de la carte</a>
							</p>
							<p>
								<a href="">Ajouter des items</a>
							</p>
						</div>
					</article>
					<div class='card-header'>
						Réservations
					</div>
					<article class='card mb-3'>
						<div class='card-header'>
							<p>
								<a href="">Liste des réservations</a>
							</p>
							<p>
								<a href="">Ajouter des réservations</a>
							</p>
						</div>
					</article>
				</aside>
